<% include header %>
	<div id="page-wrapper">
		<!--FIXED-->
		<div class="navbar-fixed" id="navbar-wrapper">
			<!-- Navigation -->
			<nav class=" teal accent-4" id="navbar-top-wrapper">
				<div class="nav-wrapper">
					<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
					<span id="page-title">Zacusca</span>

					<!-- /.navbar-header -->

					<ul class="right">
						<li class="waves-effect page-tools">
							<span id="refresh-content-button">
								<i class="material-icons">refresh</i>
							</span>
						</li>
						<li class="waves-effect page-tools">
							<span id="logout-button">
								<i class="material-icons">power_settings_new</i>
							</span>
						</li>
					</ul>
					<ul class="side-nav fixed side-nav-under-top" id="side-menu">
						<li class="nav-item-user-profile" >
							<div id="user-info"></div>
						</li>
						<li class="bold aside-item center">
							<span id="aside-my-packages" class="waves-effect waves-light">Pachetele mele</span>
						</li>
						<li class="bold aside-item center">
							<span id="aside-my-transports" class="waves-effect waves-light">Transporturile mele</span>
						</li>
						<li class="bold aside-item center">
							<span id="aside-want-to-send" class="waves-effect waves-light">Vreau să trimit</span>
						</li>
						<li class="bold aside-item center">
							<span id="aside-want-to-transport" class="waves-effect waves-light">Pot să transport</span>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div id="content-wrapper" class="container">
	</div>
	<div id="page-logo-wrapper" class="center">
		<img id="page-logo" src="/resources/img/zacusca-logo.png" alt="ZACUSCA">
	</div>

	<script type="text/template" id="loading-circle-template">
	<div id="loading-circle" class="center">
		<div class="preloader-wrapper huge active">
			<div class="spinner-layer spinner-blue">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
			</div>
			<div class="spinner-layer spinner-red">
				<div class="circle-clipper left">
				<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-yellow">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
			<div class="spinner-layer spinner-green">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
	</script>

	<script type="text/template" id="user-info-template">
	<div>Bun venit,</div>
	<div>
		<span><@=firstName + ' ' + lastName@></span>
	</div>
	</script>

	<script type="text/template" id="package-page-content-template">
	<div id="package-page-content" class="row">
	</div>
	</script>

	<script type="text/template" id="package-item-template">
	<div class="col s12 package-item">
		<div class="card">
			<div class="card-content">
				<span class="card-title"><@=name@></span>
				<div class="package-item-info collection">
					<div class="package-item-source collection-item">
						<div>
							<span>Sursă:</span>
							<span class="secondary-content"><@=source@></span>
						</div>
					</div>
					<div class="package-item-destination collection-item">
						<div>
							<span>Destinație:</span>
							<span class="secondary-content"><@=destination@></span>
						</div>
					</div>
					<div class="package-item-day collection-item">
						<div>
							<span>Dată:</span>
							<span class="secondary-content"><@=(date.toLocaleString()).split(',')[0]@></span>
						</div>
					</div>
					<@if (state === 'accepted') {@>
					<li class="package-item-current-location collection-item">
						<div>
							<span>Locație curentă:</span>
							<span id="show-<@=objectId@>-on-map" class="secondary-content package-on-map">Vezi pe hartă</span>
						</div>
					</li>
					<@}@>
				</div>
				<div class="available-transports-wrapper">
					<span>Transporturi disponibile:</span>
					<ul id="available-transports-for-<@=objectId@>" class="collapsible popout" data-collapsible="accordion">
					</ul>
				</div>
			</div>
		</div>
	</div>
	</script>

	<script type="text/template" id="package-item-available-transport-template">
	<li class="package-item-available-transport-item">
		<div class="collapsible-header">
			<span class="available-transport-accepted">
			<@if (state === 'pending') {@>
				<i class="material-icons">done</i>
			<@} else if (state === 'accepted') {@>
				<i class="material-icons">done_all</i>
			<@}@>
			</span>
			<span><@=username@></span>
		</div>
		<div class="collapsible-body">
			<div class="available-transport-wrapper">
				<ul class="collection">
					<@if (state !== 'not-joined') {@>
					<li class="available-transport-email collection-item">
						<div>
							<span>Email:</span>
							<span class="secondary-content"><@=email@></span>
						</div>
					</li>
					<li class="available-transport-telephone collection-item">
						<div>
							<span>Telefon:</span>
							<span class="secondary-content"><@=telephone@></span>
						</div>
					</li>
					<@}@>
					<li class="available-item-source collection-item">
						<div>
							<span>Sursă:</span>
							<span class="secondary-content"><@=source@></span>
						</div>
					</li>
					<li class="available-item-destination collection-item">
						<div>
							<span>Destinație:</span>
							<span class="secondary-content"><@=destination@></span>
						</div>
					</li>
					<@if (state === 'not-joined') {@>
					<li class="available-item-join-button collection-item center">
						<div>
							<button data-package="<@=packageId@>" data-transport="<@=transportId@>" class="join btn waves-effect waves-light" type="button">
								Join
							</button>
						</div>
					</li>
					<@}@>
				</ul>
			</div>
		</div>
	</li>
	</script>

	<script type="text/template" id="transport-page-content-template">
	<div id="transport-page-content" class="row">
	</div>
	</script>

	<script type="text/template" id="transport-item-template">
	<div class="col s12 transport-item">
		<div class="card">
			<div class="card-content">
				<div class="transport-item-info collection">
					<div class="transport-item-source collection-item">
						<div>
							<span>Sursă:</span>
							<span class="secondary-content"><@=source@></span>
						</div>
					</div>
					<div class="transport-item-destination collection-item">
						<div>
							<span>Destinație:</span>
							<span class="secondary-content"><@=destination@></span>
						</div>
					</div>
					<div class="transport-item-day collection-item">
						<div>
							<span>Dată:</span>
							<span class="secondary-content"><@=(date.toLocaleString()).split(',')[0]@></span>
						</div>
					</div>
					<div class="transport-item-available-slots collection-item">
						<div>
							<span>Mai este loc pentru:</span>
							<span class="secondary-content"><@=(slotsAvailable == 1) ? (slotsAvailable + ' pachet') : (slotsAvailable + ' pachete')@></span>
						</div>
					</div>
				</div>
				<div class="packages-on-board-wrapper">
					<ul id="packages-on-board-for-<@=objectId@>" class="packages-on-board collapsible popout" data-collapsible="accordion">
					</ul>
				</div>
			</div>
		</div>
	</div>
	</script>
	<script type="text/template" id="package-on-board-template">
	<li class="transport-item-package-on-board-item">
		<div class="collapsible-header">
			<span class="package-on-board-accepted">
			<@if (state === 'accepted') {@>
				<i class="material-icons">done</i>
			<@}@>
			</span>
			<span><@=username@></span>
		</div>
		<div class="collapsible-body">
			<div class="package-on-board-wrapper">
				<ul class="collection">
					<li class="available-transport-email collection-item">
						<div>
							<span>Email:</span>
							<span class="secondary-content"><@=email@></span>
						</div>
					</li>
					<li class="available-transport-telephone collection-item">
						<div>
							<span>Telefon:</span>
							<span class="secondary-content"><@=telephone@></span>
						</div>
					</li>
					<li class="package-on-board-source collection-item">
						<div>
							<span>Sursă:</span>
							<span class="secondary-content"><@=source@></span>
						</div>
					</li>
					<li class="available-item-destination collection-item">
						<div>
							<span>Destinație:</span>
							<span class="secondary-content"><@=destination@></span>
						</div>
					</li>
					<@if (state === 'pending') {@>
					<li class="packages-on-board-accept-button collection-item center">
						<button data-package="<@=packageId@>" data-transport="<@=transportId@>" class="accept btn waves-effect waves-light" type="button">
							Accept
						</button>
					</li>
					<@}@>
				</ul>
			</div>
		</div>
	</li>
	</script>
	<script type="text/template" id="want-to-send-page-content-template">
	<div id="want-to-send-page-content">
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">schedule</i>
				<label class="active">Dată</label>
				<input id="date" class="datepicker" type="date">
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">label</i>
				<input id="name" class="validate" type="text">
				<label for="name">Nume pentru pachet</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">location_on</i>
				<input id="source" class="validate" type="text">
				<label for="source">Oraș sursă</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">location_on</i>
				<input id="destination" class="validate" type="text">
				<label for="destination">Oraș destinație</label>
			</div>
		</div>
		<div class="row center">
			<div class="col s12">
				<button id="want-to-send-button" class="btn waves-effect waves-light" type="button">
					Adaugă pachet
				</button>
			</div>
		</div>
	</div>
	</script>
	<script type="text/template" id="want-to-transport-page-content-template">
	<div id="want-to-transport-page-content">
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">schedule</i>
				<label class="active">Dată</label>
				<input id="date" class="datepicker" type="date">
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">work</i>
				<label class="active">Locuri disponibile</label>
				<div id="slots-available"></div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">location_on</i>
				<input id="source" class="validate" type="text">
				<label for="source">Oraș sursă</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix">location_on</i>
				<input id="destination" class="validate" type="text">
				<label for="destination">Oraș destinație</label>
			</div>
		</div>
		<div class="row center">
			<div class="col s12">
				<button id="want-to-transport-button" class="btn waves-effect waves-light" type="button">
					Adaugă transport
				</button>
			</div>
		</div>
	</div>
	</script>
	<script type="text/template" id="map-template">
	<div class="card large">
		<div id="map"></div>
		<div class="card-action">
			<button id="leave-map-button" type="button" class="btn waves-effect waves-light">Înapoi la pachete</button>
		</div>
	</div>
	</script>
<% include footer %>
